<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Senior Care Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CareManagement.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="font-weight: 700;">SENIOR CARE HOME</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User?.Identity?.IsAuthenticated ?? false)
                            {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="schedulingDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Service Schedule
                                </a>
                                <div class="dropdown-menu" aria-labelledby="schedulingDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="ShiftSchedules" asp-action="Index">Shift Schedule</a>
                                    @if (User.IsInRole("Admin"))
                                        {
                                        <a class="dropdown-item" asp-area="" asp-controller="Schedules" asp-action="Index">Schedule</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Services" asp-action="Index">Service</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Invoices" asp-action="Index">Invoice</a>
                                        }

                                </div>
                            </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="schedulingDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Employees
                            </a>
                            <div class="dropdown-menu" aria-labelledby="schedulingDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="Index">Employee</a>
                                <a class="dropdown-item" asp-area="" asp-controller="EmployeeHistories" asp-action="Index">Employee History</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Qualifications" asp-action="Index">Qualification</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Payrolls" asp-action="Index">Payroll</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Shifts" asp-action="Index">Shift</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Vacations" asp-action="Index">Vacation</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="schedulingDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Customers
                            </a>
                            <div class="dropdown-menu" aria-labelledby="schedulingDropdown">

                                <a class="dropdown-item" asp-area="" asp-controller="Appliances" asp-action="Index">Appliances</a>

                                <a class="dropdown-item" asp-area="" asp-controller="Applicants" asp-action="Index">Applicants</a>

                                <a class="dropdown-item" asp-area="" asp-controller="AssetMaintenances" asp-action="Index">AssetMaintenances</a>

                                <a class="dropdown-item" asp-area="" asp-controller="AssetRentLogs" asp-action="Index">AssetRentLogs</a>

                                <a class="dropdown-item" asp-area="" asp-controller="Assets" asp-action="Index">Assets</a>

                                <a class="dropdown-item" asp-area="" asp-controller="Renters" asp-action="Index">Renters</a>
                                <a class="dropdown-item" asp-area="" asp-controller="RenterServices" asp-action="Index">RenterServices</a>
                            </div>
                        </li>
                        }
                        @if (User?.Identity?.IsAuthenticated ?? false && User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end align-self-end align-items-end">
                <ul class="navbar-nav flex-fill align-self-end align-items-end">
                    @if (User?.Identity?.IsAuthenticated == null || User?.Identity?.IsAuthenticated == false)
                    {
                        <li class="nav-item">
                            <form method="get">
                                <button class="btn btn-secondary" asp-area="" asp-controller="Account" asp-action="Login">LOGIN</button>
                            </form>

                        </li>
                    }
                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        <li class="nav-item">
                            <form method="post">
                                <button class="btn btn-secondary" asp-area="" asp-controller="Account" asp-action="Logout">LOGOUT</button>
                            </form>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - CareManagement - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
