@model CareManagement.Models.CRM.Appliance

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Appliance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ApplianceId" />
            <div class="form-group">
                <label asp-for="AssetId" class="control-label"></label>
                <select asp-for="AssetId" class="form-control" asp-items="ViewBag.AssetId"></select>
                <span asp-validation-for="AssetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplianceType" class="control-label"></label>
                <select asp-for="ApplianceType" class="form-control" asp-items="Html.GetEnumSelectList<CareManagement.Models.CRM.Enum.ApplianceType>()"></select>
                <span asp-validation-for="ApplianceType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplianceBrand" class="control-label"></label>
                <select asp-for="ApplianceBrand" class="form-control"asp-items="Html.GetEnumSelectList<CareManagement.Models.CRM.Enum.ApplianceBrand>()"></select>
                <span asp-validation-for="ApplianceBrand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
