@model CareManagement.Models.OM.Payroll

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Payroll</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class ="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeType" class="control-label"></label>
                <select asp-for="EmployeeType" class="form-control" asp-items="Html.GetEnumSelectList<CareManagement.Models.OM.Enum.EType>()"></select>
                <span asp-validation-for="EmployeeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hours" class="control-label"></label>
                <input asp-for="Hours" class="form-control" />
                <span asp-validation-for="Hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Overtime" class="control-label"></label>
                <input asp-for="Overtime" class="form-control" />
                <span asp-validation-for="Overtime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LateDeduction" class="control-label"></label>
                <input asp-for="LateDeduction" class="form-control" />
                <span asp-validation-for="LateDeduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VacationPay" class="control-label"></label>
                <input asp-for="VacationPay" class="form-control" />
                <span asp-validation-for="VacationPay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SickPay" class="control-label"></label>
                <input asp-for="SickPay" class="form-control" />
                <span asp-validation-for="SickPay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pre_tax" class="control-label"></label>
                <input asp-for="Pre_tax" class="form-control" />
                <span asp-validation-for="Pre_tax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tax" class="control-label"></label>
                <input asp-for="Tax" class="form-control" />
                <span asp-validation-for="Tax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckAmount" class="control-label"></label>
                <input asp-for="CheckAmount" class="form-control" />
                <span asp-validation-for="CheckAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
