@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Emailed Invoice</h1>
<div>
    <h3>Sent to: </h3>
    <p>
        @TempData["CustomerEmail"]
    </p>
    <h3>Invoice Content</h3>
    <p>
        @TempData["Invoice"]
    </p>
</div>
<a asp-area="" asp-controller="Invoices" asp-action="Index">Return to Invoices</a> |
<a asp-area="" asp-controller="Home" asp-action="Index">Return to Home</a>
