<h2>Access Denied</h2>
@if (User?.Identity?.IsAuthenticated == null || User?.Identity?.IsAuthenticated == false)
{
    <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Login to an account</a>
}

@if (User?.Identity?.IsAuthenticated ?? false)
{
    <a asp-controller="Account" asp-action="Logout" class="btn btn-primary">Logout</a>
}