<h2>Access Denied</h2>
<p>Your account is not currently associated with any employee. Please contact an admin.</p>
@if (User?.Identity?.IsAuthenticated ?? false)
{
    <a asp-controller="Account" asp-action="Logout" class="btn btn-primary">Logout</a>
}